<div class="body">
  <div class="container">
    <mat-toolbar color="primary">
      <span>Projetos</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/projects-form">Novo Projeto</a>
    </mat-toolbar>
    @for (project of projects; track $index) {
    <div class="card">
      <div class="container-inside">
        <div class="title">
          <h4>{{ project.name }}</h4>
          <a (click)="confirmDelete(project.name, project.id)">
            <mat-icon
              class="icon"
              aria-hidden="false"
              aria-label="Adicionar uma nova marcação de trabalho"
              fontIcon="delete"
            ></mat-icon>
          </a>
        </div>
        <div class="dates">
          <p>Inicio: {{ project.startDate | date : "longDate" }}</p>
          <p>Fim: {{ project.endDate | date : "longDate" }}</p>
          <p>Horas do projeto</p>
          🕖 {{ project.budgetedHours }}
        </div>
      </div>

      <button (click)="goToProjectDetails(project.id)">Informções</button>
    </div>
    }
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="[1, 2, 5, 10]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
